<%- include("header") -%>

<form action="/about">
    <button type="submit" id="aboutbtn">About</button>
</form>

    <div class="box">
        <h1 id="heading"><%= listTitle %></h1>
    </div>
    
 

    <div class="box">

        <%  newListItems.forEach(newListItem => { %>

            <form action="/delete" method="post">

                 <div class="item">
                <input type="checkbox" name="checkbox" value="<%= newListItem._id %>" onchange="this.form.submit()">
                <p><%= newListItem.name %></p>
                <input type="hidden" name= listName value=<%= listTitle %>>
                </div>

            </form>
     <%   }); %>
    
   
    <form class="title" action="/" method="post">
          <input type="text" name="newItem" placeholder="Type New Item" autocomplete="off">
        <button type="submit" name="list"  value=<%= listTitle %>>+</button>
    </form>

    </div>

    <%- include("footer") -%>